<h2>Students Information System </h2>
<a href="/students/new">creat new student form</a>
<br>
<ul>
  <%if @students_obj %>
    <p style="color:red">Students information list</p>
    <% @students_obj.each do |student_obj| %>
      <li><a href="/students/<%=student_obj.id%>"><%= student_obj.firstname+'-'+ student_obj.lastname%></a></li>
    <% end %>
  <% end %>
</ul>



