<h1>Edit Student Infomtion</h1>
<% if @student %>
<form method="POST" action="/students/<%= @student.id %>">
  <input type="hidden" name="_method" value="PUT">
  <%= erb :student_form%>
</form>
<% else %>
  <p> This student does not exist! </p>
<% end %>

