<!DOCTYPE html>
<html lang="en">
<head>
<title><%= @title || "Student Management System" %>
</title><meta charset="utf-8" />
<link href="/styles.css" rel="stylesheet" />
</head><body>
<header>
<h1>Student Management System</h1>
<%= erb :nav %>
</header><section>
<%= yield %>
</section></body></html>
